* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign-up-google,
.sign-up-github {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fafafa;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.sign-up-google img,
.sign-up-github img {
  width: 25px;
  height: 25px;
}
.register__form h4 {
  text-align: center;
  color: #099289;
}
.image__register {
  width: 550px;
  height: 550px;
}
/* @media (min-width: 1400px) {
  .image__register {
    margin: 0 100px;
  }
} */

.or-register::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 1px;
  background-color: #eeeeee;
  top: 45%;
  left: 22%;
  transform: translate(-50%);
}
.or-register::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 1px;
  background-color: #eeeeee;
  top: 45%;
  right: 22%;
  transform: translate(50%);
}
@media (min-width: 769px) and (max-width: 992px) {
  .image__register {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 768px) {
  .image__register {
    display: none;
  }
  .register__page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* @media (max-width: 480px) {
} */
.btn-custom-register {
  color: var(--main-color);
  background-color: #fff;
  border-radius: 56px;
  border: 2px solid var(--main-color);
  transition: 0.3s;
}

.btn-custom-register:hover {
  transition: 0.4s;
  outline-offset: 3px;
  background-color: #099289;
}

.invalid input {
  border-color: #d93025;
}
.field .error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}
.invalid .error {
  display: flex;
}

.create-password .error {
  align-items: flex-start;
}

.text__sign {
  font-size: 15px;
}
.text__sign a {
  color: #099289;
}
.text__sign a:hover {
  text-decoration: underline !important;
}

.navbar-sign {
  color: #099289;
  position: absolute;
  top: 10px;
  left: 30px;
}

.navbar-sign:hover {
  color: #099289;
}
