:where(.input-field) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#form__otp .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field .input__otp {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field .input__otp:focus {
  border: 2px solid #099289;
}
.input-field .input__otp::-webkit-inner-spin-button,
.input-field .input__otp::-webkit-outer-spin-button {
  display: none;
}
.btn__otp {
  color: #fff;
  border: none;
  pointer-events: none;
  background: #099289;
  opacity: 50%;
  border-radius: 56px;
}
.btn__otp.active {
  background: #099289;
  opacity: 100%;
  pointer-events: auto;
}
.btn__otp:hover {
  background: #099289;
}
