.body__registration {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #099289; */
  background-color: #fbfbfb;
}

/* card__registration PROGRESS */
.container__registration {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 5vw;
}
.card__registration {
  margin-top: 50px;
  max-width: 300px;
  border-radius: 64px;
  padding: 20px;
  background-color: transparent;
  border: 3px solid #4070f4;
  outline: none;
  position: relative;
  color: #000;
}

.card__registration .content__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 44px;
  padding: 20px;
}
.content__card img {
  width: 180px;
  height: 180px;
  margin-top: 15px;
}
.content__card span {
  display: block;
  text-align: center;
  font-size: 13px;
  margin: 20px 10px 10px;
}
.card__registration:nth-child(1) {
  border-color: #fdca3f;
  cursor: pointer;
}
.card__registration:nth-child(1) .content__card {
  background: #fff;
  color: #000;
}
.card__registration:nth-child(1) .card__title {
  background: #fdca3f;
  border: 2px solid #fff;
}
.card__registration:nth-child(2) {
  border-color: #ff725e;
  cursor: pointer;
}
.card__registration:nth-child(2) .card__title {
  background: #ff725e;
  border: 2px solid #fff;
}
.card__registration:nth-child(3) {
  border-color: #ba68c8;
  cursor: pointer;
}
.card__registration:nth-child(3) .card__title {
  background: #ba68c8;
  border: 2px solid #fff;
}

.card__title {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 150px;
  height: 70px;
  border-radius: 25px;
  top: -10%;
  left: 50%;
  transform: translate(-50%);
}
