* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.report-body {
  background-color: #099289;
}
.report-thanks {
  background-color: #f3f3f3;
  border-radius: 16px 16px 0px 0px;
  height: 14vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #099289;
  width: 800px;
  max-width: 100%;
}
.report-report-field {
  background-color: #fff;
  color: #099289;
  font-weight: 600;
  border-radius: 0px 0px 16px 16px;
  width: 800px;
  max-width: 100%;
}
.report-status {
  background-color: #ffa500;
  width: fit-content;
  padding: 7px;
  border-radius: 16px;
  color: #f3f3f3;
}
